# n8n General Settings
N8N_HOST=basilium.ai.kr
N8N_PORT=5678
N8N_PROTOCOL=https
NODE_ENV=production

# Security
N8N_ENCRYPTION_KEY=
N8N_USER_MANAGEMENT_JWT_SECRET=

# Webhook Settings
WEBHOOK_URL=https://basilium.ai.kr/

# Database
MYSQL_DATABASE=basilium_db
MYSQL_ROOT_PASSWORD=
MYSQL_USER=n8n_user
MYSQL_PASSWORD=